a {
  text-decoration: none;
  color: #000;
}

.wrapper a {
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
}
.wrapper .active {
  color: #2196f3;
}
@keyframes spinner {
  0% {
    transform: perspective(300px) rotateY(0);
  }

  100% {
    transform: perspective(300px) rotateY(360deg);
  }
}
.logo {
  display: block;
  width: 200px;

  margin: 0;

  animation-name: spinner;
  animation-duration: 7000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
